<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>ARC Control App</title>
<style>
#stats.div {
   display: inline;
   color: red;
}
</style>
  </head>
  <body>
<div id="stats">
Motor: <div id="motor">...</div>
Servo: <div id="servo">...</div>
Distance: <div id="distance">...</div>
<div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'CTRL', {
          motor: 0, servo: 0
        } )
      } )
      socket.on( 'CTRL_LOG', function( msg ) {
//        console.log(msg);
        $( "#motor" ).html( msg.m );
        $( "#servo" ).html( msg.s );
      })
      socket.on( 'DSTN', function( msg ) {
//       console.log(msg);
        $( "#distance" ).text( msg.m );
      })
    </script>

  </body>
</html>